/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

.box {
	padding: 20px;
	margin: 30px 0;
	border: 2px solid blue;
	background-color: lightcyan;
}

.vnitrek {
	padding: 20px;
	border: 2px solid orange;
	background-color: yellow;
}


/*************************************************/

/*
Opakování:
----------
element									html element / název značky
.class									prvek s class="..."
#id											prvek s id="..."

selector1, selector2		více prvků oddělených čárkou
selector1 selector2			element2 uvnitř elementu1


Nové CSS Selektory:
-------------------
selector1.selector2			element1, který má css třídu 2

selector1 selector2			element2 uvnitř elementu1 (nemusí být přímý rodič)
selector1>selector2		  element2, jehož přímý rodič je element1

selector1+selector2		  element2, který následuje okamžitě za elementem1
selector1~selector2     element2, kterému předchází element1

selector[attr="val"]		element s attributem o určité hodnotě
												*= kdekoliv v textu
												^= na začátku
												$= na konci
*/
